##############################################Core3S500E#################################################
NET "clk" LOC = "P184" ;

NET "RST" LOC = "P101" ;

NET "led[0]" LOC =" P68" ;
NET "led[1]" LOC = "P78" ;
NET "led[2]" LOC = "P83" ;
NET "led[3]" LOC = "P89";

############################################### Mother Board ########################################
NET "Buzzer"  LOC = "p123"  ;

NET "DS18B20"  LOC = "p126"  ;

#JOYSTICK
NET "down"  LOC = "p116"  ;
NET "up"  LOC = "p122"  ;
NET "left"  LOC = "p119"  ;
NET "right"  LOC = "p120"  ;
NET "press"  LOC = "p115"  ;

#8I/Os_1
NET "8I/Os_1_1"  LOC = "p75"  ;
NET "8I/Os_1_2"  LOC = "p76"  ;
NET "8I/Os_1_3"  LOC = "p69"  ;
NET "8I/Os_1_4"  LOC = "p74"  ;
NET "8I/Os_1_5"  LOC = "p64"  ;
NET "8I/Os_1_6"  LOC = "p65"  ;
NET "8I/Os_1_7"  LOC = "p62"  ;
NET "8I/Os_1_8"  LOC = "p63"  ;

#8I/Os_2
NET "8I/Os_2_1"  LOC = "p132"  ;
NET "8I/Os_2_2"  LOC = "p129"  ;
NET "8I/Os_2_3"  LOC = "p128"  ;
NET "8I/Os_2_4"  LOC = "p127"  ;
NET "8I/Os_2_5"  LOC = "p126"  ;
NET "8I/Os_2_6"  LOC = "p123"  ;
NET "8I/Os_2_7"  LOC = "p122"  ;
NET "8I/Os_2_8"  LOC = "p120"  ;

#16I/Os_2
NET "16I/Os_2_1"  LOC = "p119"  ;
NET "16I/Os_2_2"  LOC = "p116"  ;
NET "16I/Os_2_3"  LOC = "p115"  ;
NET "16I/Os_2_4"  LOC = "p113"  ;
NET "16I/Os_2_5"  LOC = "p112"  ;
NET "16I/Os_2_6"  LOC = "p109"  ;
NET "16I/Os_2_7"  LOC = "p108"  ;
NET "16I/Os_2_8"  LOC = "p107"  ;
NET "16I/Os_2_9"  LOC = "p106"  ;
NET "16I/Os_2_10"  LOC = "p102"  ;
NET "16I/Os_2_11"  LOC = "p100"  ;
NET "16I/Os_2_12"  LOC = "p99"  ;
NET "16I/Os_2_13"  LOC = "p98"  ;
NET "16I/Os_2_14"  LOC = "p97"  ;
NET "16I/Os_2_15"  LOC = "p96"  ;
NET "16I/Os_2_16"  LOC = "p94"  ;

#16I/Os_1
NET "16I/Os_1_1"  LOC = "p160"  ;
NET "16I/Os_1_2"  LOC = "p153"  ;
NET "16I/Os_1_3"  LOC = "p152"  ;
NET "16I/Os_1_4"  LOC = "p151"  ;
NET "16I/Os_1_5"  LOC = "p150"  ;
NET "16I/Os_1_6"  LOC = "p147"  ;
NET "16I/Os_1_7"  LOC = "p146"  ;
NET "16I/Os_1_8"  LOC = "p145"  ;
NET "16I/Os_1_9"  LOC = "p144"  ;
NET "16I/Os_1_10"  LOC = "p140"  ;
NET "16I/Os_1_11"  LOC = "p139"  ;
NET "16I/Os_1_12"  LOC = "p138"  ;
NET "16I/Os_1_13"  LOC = "p137"  ;
NET "16I/Os_1_14"  LOC = "p135"  ;
NET "16I/Os_1_15"  LOC = "p134"  ;
NET "16I/Os_1_16"  LOC = "p133"  ;

#32I/Os_1
NET "32I/Os_1_1"  LOC ="p61";
NET "32I/Os_1_2"  LOC ="p60";
NET "32I/Os_1_3"  LOC ="p55";
NET "32I/Os_1_4"  LOC ="p50";
NET "32I/Os_1_5"  LOC ="p49";
NET "32I/Os_1_6"  LOC ="p48";
NET "32I/Os_1_7"  LOC ="p47";
NET "32I/Os_1_8"  LOC ="p45";
NET "32I/Os_1_9"  LOC ="p42";
NET "32I/Os_1_10"  LOC ="p41";
NET "32I/Os_1_11"  LOC ="p40";
NET "32I/Os_1_12"  LOC ="p39";
NET "32I/Os_1_13"  LOC ="p36";
NET "32I/Os_1_14"  LOC ="p35";
NET "32I/Os_1_15"  LOC ="p34";
NET "32I/Os_1_16"  LOC ="p33";
NET "32I/Os_1_17"  LOC ="p31";
NET "32I/Os_1_18"  LOC ="p30";
NET "32I/Os_1_19"  LOC ="p29";
NET "32I/Os_1_20"  LOC ="p28";
NET "32I/Os_1_21"  LOC ="p25";
NET "32I/Os_1_22"  LOC ="p24";
NET "32I/Os_1_23"  LOC ="p23";
NET "32I/Os_1_24"  LOC ="p22";
NET "32I/Os_1_25"  LOC ="p19";
NET "32I/Os_1_26"  LOC ="p18";
NET "32I/Os_1_27"  LOC ="p16";
NET "32I/Os_1_28"  LOC ="p15";
NET "32I/Os_1_29"  LOC ="p12";
NET "32I/Os_1_30"  LOC ="p11";
NET "32I/Os_1_31"  LOC ="p9";
NET "32I/Os_1_32"  LOC ="p8";



#SDRAM_L
NET "SDRAM_L_1"  LOC ="GND" ;
NET "SDRAM_L_2"  LOC ="3.3V" ;
NET "SDRAM_L_3"  LOC = "p9";
NET "SDRAM_L_4"  LOC = "p8";
NET "SDRAM_L_5"  LOC = "p12";
NET "SDRAM_L_6"  LOC = "p11";
NET "SDRAM_L_7"  LOC = "p16";
NET "SDRAM_L_8"  LOC = "p15";
NET "SDRAM_L_9"  LOC = "p19";
NET "SDRAM_L_10"  LOC = "P18";
NET "SDRAM_L_11"  LOC = "p23";
NET "SDRAM_L_12"  LOC ="p22" ;
NET "SDRAM_L_13"  LOC = "p25";
NET "SDRAM_L_14"  LOC = "p24";
NET "SDRAM_L_15"  LOC = "p29";
NET "SDRAM_L_16"  LOC = "p28";
NET "SDRAM_L_17"  LOC = "p31";
NET "SDRAM_L_18"  LOC = "p30";
NET "SDRAM_L_19"  LOC = "p34";
NET "SDRAM_L_20"  LOC ="p33" ;
NET "SDRAM_L_21"  LOC ="p36" ;
NET "SDRAM_L_22"  LOC ="p35" ;
#SDRAM_R
NET "SDRAM_R_1"  LOC ="3.3V" ;
NET "SDRAM_R_2"  LOC ="GND" ;
NET "SDRAM_R_3"  LOC = "p153";
NET "SDRAM_R_4"  LOC = "p160";
NET "SDRAM_R_5"  LOC = "p151";
NET "SDRAM_R_6"  LOC = "p152";
NET "SDRAM_R_7"  LOC = "p147";
NET "SDRAM_R_8"  LOC = "p150";
NET "SDRAM_R_9"  LOC = "p145";
NET "SDRAM_R_10"  LOC = "P146";
NET "SDRAM_R_11"  LOC = "p140";
NET "SDRAM_R_12"  LOC ="p144" ;
NET "SDRAM_R_13"  LOC = "p138";
NET "SDRAM_R_14"  LOC = "p139";
NET "SDRAM_R_15"  LOC = "p135";
NET "SDRAM_R_16"  LOC = "p137";
NET "SDRAM_R_17"  LOC = "p133";
NET "SDRAM_R_18"  LOC = "p134";
NET "SDRAM_R_19"  LOC = "p129";
NET "SDRAM_R_20"  LOC ="p132" ;
NET "SDRAM_R_21"  LOC ="p127" ;
NET "SDRAM_R_22"  LOC ="p128" ;


#LCD1602
NET "RS"  LOC ="p36"  ;
NET "R/W"  LOC = "p40"  ;
NET "EN"  LOC ="p39"  ;
NET "D0"  LOC = "p42"  ;
NET "D1"  LOC = "p41"  ;
NET "D2"  LOC = "p47"  ;
NET "D3"  LOC = "p45"  ;
NET "D4"  LOC = "p49"  ;
NET "D5"  LOC = "p48"  ;
NET "D6"  LOC = "p55"  ;
NET "D7"  LOC = "p50"  ;
NET "A"  LOC = "p61"  ;
NET "K"  LOC = "p60"  ;

#LCD12864
NET "RS"  LOC ="p36"  ;
NET "R/W"  LOC = "p40"  ;
NET "EN"  LOC ="p39"  ;
NET "D0"  LOC = "p42"  ;
NET "D1"  LOC = "p41"  ;
NET "D2"  LOC = "p47"  ;
NET "D3"  LOC = "p45"  ;
NET "D4"  LOC = "p49"  ;
NET "D5"  LOC = "p48"  ;
NET "D6"  LOC = "p55"  ;
NET "D7"  LOC = "p50"  ;
NET "PSB"  LOC ="p61"  ;

NET "RST"  LOC ="p63"  ;

NET "A"  LOC ="p65"  ;
NET "K"  LOC ="p64"  ;




















